.wrap {

	max-width: 850px;
	margin: 0 auto;

}


.postbody .content {

	font-size: 1.5em;
    text-align: right;
    direction: rtl;
}

a.topictitle {

	font-weight: normal;
	text-decoration: none;
	    text-align: right;
    direction: rtl;
}

/*  اسم القسم او المنتدى  */
a.forumtitle {

	text-decoration: none !important;
	    text-align: right;
    direction: rtl;

}

.headerbar, .forumbg, .forabg 
{
	background: none;
	 font-color: red;
}

.navbar {
    background: none;
}

.forumbg .header a, .forabg .header a, th a, h1, .headerbar {
    color: #000000;
}

li.header dt, li.header dd {
    color:#766E6E;
}

.site_logo {
    background-image: url("./images/logo.png");
	background-size: 149px auto;
}

.search-header {
    box-shadow: 0 0 2px #0075B0;
}

ul.forums {
    background: none;
}

li.row {
    border-top-color: white;
    border-bottom-color: white;
}

.bg1 {
    background-color: #F8F8F8;
}

.bg2 {
    background-color: #ffffff;
}

.panel {
    background-color: #F8F8F8;
    color: #28313F;
}

/*top nav */
.topnav3653 {
  overflow: hidden;
  background-color: #333;
}

.topnav3653 a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'El Messiri', sans-serif;
}

.topnav3653 a:hover {
  background-color: #ddd;
  color: black;
}

.topnav3653 a.active {
    background-color: #4CAF50;
    color: white;
}