@font-face {

font-family: 'Al-Jazeera-light';
src:url('fonts/Al-Jazeera-Arabic-Light.ttf') format('truetype');
src: url('fonts/Al-Jazeera-Arabic-Light.eot') format('embedded-opentype'),
url('fonts/Al-Jazeera-Arabic-Light.woff') format('woff');
}

.Al-Jazeera-light
{
font-family: 'Al-Jazeera-light';
}


body {font-family: "Segoe UI",, sans-serif; text-decoration: none;}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
p, div {
    font-family: 'Ubuntu', sans-serif;
}

a:link a:visited a:hover a:active {text-decoration: none;}
.cat_name_235 {font-size: 3.5em; font-family: 'Josefin Sans', sans-serif; color:#0077b3; text-align: center; text-decoration: none!important;}
.forumtitle_235 {font-size: 3.0em; font-family: 'Maven Pro', sans-serif;}
.formdescription {font-family: 'Ubuntu', sans-serif;  text-indent: 10px;margin-bottom: 0em;}
.topicandpostcount {font-family: 'Ubuntu', sans-serif;  text-indent: 10px;margin-bottom: 0em;}
.lastpostbywhom {font-family: 'Bubbler One', sans-serif;  text-indent: 10px;margin-bottom: 0em;}
.inputbox 
{
font-family: 'Cairo', serif;
}

.button 
	{
		white-space: normal;
		font-family: 'Cairo', serif;
		
	}
	
	.inputbox 
{
font-family: 'Cairo', serif;
}

.button 
	{
		white-space: normal;
		font-family: 'Cairo', serif;
		
	}
	




/*  عنوان الموضوع  */
a.topictitle {
	font-family: "Segoe UI",,'Scheherazade', serif;
	font-size: 1.5em;
	font-weight: normal;
	text-decoration: none !important;
}

/*  اسم القسم او المنتدى  */
a.forumtitle {
	font-family: 'Al-Jazeera-light';
	font-size: 1.3em;
	text-decoration: none !important;

}

h1 {

	font-family: 'Cairo', sans-serif;

}

h2 {

	font-family: 'Cairo', sans-serif;
}

h3 {

	font-family: 'Cairo', sans-serif;
}

li.header dt, li.header dd {

	font-family: 'Cairo', sans-serif;
}
/*  نص الموضوع  */
.postbody .content {
	font-family: 'Amiri', serif;
	font-size: 1.5em;
}

/*  الاسلة المتكررة  */
dl.faq {
	font-family: 'Cairo', sans-serif;
	font-size: 1.2em;

}


fieldset {
    	font-family: tahoma, Arial, Helvetica, sans-serif;
    
}

select {
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

#message-box textarea {
    
    font-family: 'Amiri', serif;
	font-size: 1.5em;
	direction: rtl;
}

input {
    
        font-family: 'Amiri', serif;
		direction: rtl;
}