
@import url('https://fonts.googleapis.com/css?family=Cairo|Changa|El+Messiri|Harmattan|Jomhuria|Katibeh|Lalezar|Lateef|Lemonada|Mada|Rakkas|Scheherazade');
/*




    font-family: 'Lateef', cursive;

    font-family: 'Rakkas', cursive;

    font-family: 'Lalezar', cursive;

    font-family: "Segoe UI", sans-serif;

    font-family: 'Scheherazade', serif;

    font-family: 'Changa', sans-serif;

    font-family: 'Lemonada', cursive;

    font-family: 'Mada', sans-serif;

    font-family: 'El Messiri', sans-serif;

    font-family: 'Harmattan', sans-serif;

    font-family: 'Katibeh', cursive;

    font-family: 'Jomhuria', cursive;




*/

@font-face {

font-family: 'Al-Jazeera-light';
src:url('fonts/Al-Jazeera-Arabic-Light.ttf') format('truetype');
src: url('fonts/Al-Jazeera-Arabic-Light.eot') format('embedded-opentype'),
url('fonts/Al-Jazeera-Arabic-Light.woff') format('woff');
}

.Al-Jazeera-light
{
font-family: 'Al-Jazeera-light';
}


.inputbox 
{
font-family: "Segoe UI", serif;
}

.button 
	{
		white-space: normal;
		font-family: "Segoe UI", serif;
		
	}
	




/*  عنوان الموضوع  */
a.topictitle {
	font-family: "Segoe UI",'Scheherazade', serif;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: none !important;
}

/*  اسم القسم او المنتدى  */
a.forumtitle {
	font-size: 1.9em;
	font-family: 'Al-Jazeera-light';
	text-decoration: none !important;

}

h1 {

	font-family: "Segoe UI", sans-serif;

}

h2 {

	font-family: "Segoe UI", sans-serif;
}

h3 {

	font-family: "Segoe UI", sans-serif;
}

li.header dt, li.header dd {

	font-family: "Segoe UI", sans-serif;
}
/*  نص الموضوع  */
.postbody .content {
	font-family: 'Amiri', serif;
	font-size: 1.5em;
}

/*  الاسلة المتكررة  */
dl.faq {
	font-family: "Segoe UI", sans-serif;
	font-size: 1.2em;

}


fieldset {
    	font-family: tahoma, Arial, Helvetica, sans-serif;
    
}

select {
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

#message-box textarea {
    
    font-family: 'Amiri', serif;
	font-size: 1.5em;
	direction: rtl;
}

input {
    
        font-family: 'Amiri', serif;
		direction: rtl;
}
/*  جميع الخطوط التي لا تحتوي على تبويب اشاري  */
body {
	font-family: "Segoe UI",tahoma,Verdana, Helvetica, Arial, sans-serif;
	
}